html {
    scroll-behavior: smooth;
    height: 1770px;
}

.main__img {
    border-radius: 5px;
}



.main__title-h2 {
    margin: 5px 0 10px 0;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    color: #f90b6d;
}

/* 2 cột về good healthy */

.main__title-h2-column-good-healthy {
    display: flex;
}

.main__yogurt-img {
    border-radius: 5px;
}

.main__yogurt-info-good-healthy {
    margin: 0 5px;
    text-align: justify;
}

/* 2 cột về sữa chua nhà làm */

.main__title-h2-homemade {
    display: flex;
    flex-direction: row-reverse;
}

.main__yogurt-video {
    border-radius: 5px;
}

.main__yogurt-homemade {
    text-align: justify;
    margin: 0 5px;
}

/* 2 cột với h3 guide make yagurt */

.main__title-h3-colums {
    column-count: 2;
}

.main__title-h3 {
    margin: 5px 0 10px 0;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #f90b6d;
    break-before: column;
}

.main__yaourt-item {
    width: 100px;
}

.main__book-icon {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

.main__book-item {
    display: inline-block;
    border: 1px solid #ed4190;
    border-radius: 5px;
    width: 24%;
    padding-top: 5px;
}

.header__search {
    display: flex;
}

.header__cart-icon {
    margin-left: 8px;
}

.header__search-icon {
    min-width: 40px;
    margin-left: 8px;
    padding: 8px;
    color: #fff;
    text-align: center;
    background-color: #cddc39;
    border: none;
    height: 28px;
}