header{
    padding: 0;
}

#header__logo{
    padding-left: 5px;
}

.header__navbar{
    padding-left: 5px;
}

.header__search {
    display: flex;
}

.header__cart-icon {
    margin-left: 8px;
}

.header__search-icon {
    min-width: 40px;
    margin-left: 8px;
    padding: 8px;
    color: #fff;
    text-align: center;
    background-color: #cddc39;
    border: none;
    height: 28px;
}

.header__cart-icon{
    min-width: 40px;
    margin-left: 8px;
    padding: 8px;
    color: #ed4190;
    text-align: center;
    background-color: #cddc39;
    border: none;
    height: 28px;
  }

.header__search-icon2{
    min-width: 30px;
    padding: 4px;
    color: #fff;
    text-align: center;
    background-color: #cddc39;
}

main{
    margin-top: 20%;
    padding: 0;
}

.header__cart-icon{
    margin-right: 4px;
}

table{
    margin-top: 16px;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "1  center-cell center-cell 2 ";
}

tbody{
    grid-area: center-cell;
}

th{
    width: 40px;
}


.footer_return{
    bottom: 25%;
    right: 15.5%;
}